node_modules
.build
.env
coverage
src/tmp/export/example.csv
src/tmp/export/*.csv
src/tmp/export/*.CSV
src/tmp/export/*_START
src/tmp/export/*_END
src/tmp/import/*.csv
src/tmp/import/*.CSV
docker/data/*.mdf
docker/data/*.ldf
*/.DS_Store
env.production
*.html
*.done
.serverless